name: Renovate

on:
  schedule:
    - cron:  '41 */6 * * *'
  workflow_dispatch:

permissions:
  contents: none
  packages: none

jobs:
  renovate:
    permissions:
      contents: read        # needed to read the contents of the repository
      id-token: write       # needed to create a GitHub App token
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: retrieve secrets
        id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@0532a73863dc08e0a6206e97be6ad0b53d28ce87  # validate-policy-bot-config-v1.1.0
        with:
          common_secrets: |
            GRAFANA_RENOVATE_APP_ID=grafana-renovate-app:app-id
            GRAFANA_RENOVATE_PRIVATE_KEY=grafana-renovate-app:private-key

      - name: create GitHub app token
        id: app-token
        # Beware that the token generated here has elevated permissions wrt to
        # the ones set in the action. In particular, it will be able to write
        # to the repository (e.g. create branches) and create pull requests.
        uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e # v2.0.6
        with:
          app-id: ${{ env.GRAFANA_RENOVATE_APP_ID }}
          private-key: ${{ env.GRAFANA_RENOVATE_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@a889a8abcb11ef7feaafaf5e483ea01d4bf7774e # v43.0.5
        with:
          renovate-version: 41.131.6
          configurationFile: .github/renovate-app.json
          token: '${{ steps.app-token.outputs.token }}'
          docker-cmd-file: .github/renovate
        env:
          LOG_LEVEL: debug
          RENOVATE_PLATFORM: github
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_USERNAME: GrafanaRenovateBot
