name: Validate renovate config
on:
  pull_request:
    paths:
      # When renovate config changes:
      - "renovate.*"
      - ".renovate.*"
      - ".github/renovate.*"
      # Also when renovate version changes:
      - ".github/workflows/renovate*"

permissions:
  contents: none

jobs:
  enforce-code-generation:
    name: enforce code generation
    runs-on:
      - ubuntu-arm64
    container:
      image: ghcr.io/grafana/grafana-build-tools:1.19.0@sha256:f481a21faac22170b89a11baadb6d633cc05dcde7c7d4ee2f9e170b943698c12
    permissions:
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          fetch-depth: 1
          fetch-tags: false

      - name: Set up global git config
        run: |
          # The directory where the code has been checked out ends up belonging
          # to a different user, so git complains about permissions. Indicate
          # that it's safe to ignore.
          git config --global --add safe.directory '*'

      - name: generate configuration file
        run: |
          make .github/renovate.json
          scripts/enforce-clean

  validate-renovate:
    name: validate renovate configuration
    permissions:
      # Needed for logging into vault.
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout Code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Self-hosted renovate
        uses: grafana/sm-renovate/actions/renovate-validate@main
        with:
          renovate-version: 41.131.6
